
@{
    ViewBag.Title = "Client";
}

<h2>Client</h2>

<div>
    <form method="post" action="">
        <p>Имя клиента</p>
        <input type="text" name="Name" />
        <p>Почта</p>
        <input type="text" name="Email" />
        <p>Телефон</p>
        <input type="tel" name="Phone_Number" />
        <p>Добавить клиента</p>
        <input type="submit" name="Создать" />
    </form>
</div>
