
@{
    ViewBag.Title = "Manager_Add";
}

<h2>Manager_Add</h2>

<div>
    <form method="post">
        <p>Введите Фамилию</p>
        <input type="text" name="Name" />
        <p>Введите е-майл</p>
        <input type="text" name="Email"/>
        <p>Ведите номер телефона</p>
        <input type="number" name="Phone_Number"/>
        <p>Название должности</p>
        <input type="text" name="Job_Title"/>
        <p>Зарплата</p>
        <input type="number" name="Salary"/>
        <p>Нанять работника</p>
        <input type="submit" name="Добавить"/>
    </form>
</div>
