
@{
    ViewBag.Title = "Supple_Get";
}

<h2>Заявка на пополнение</h2>

<div>
    <form method="post" action="">
        <p>Введите название фильма</p>
        <input type="text" name="P_Name"/>
        <p>Введите год выпуска</p>
        <input type="number" name="Year" />
        <p>Сделать заявку</p>
        <input type="submit" name="Отправить"/>
    </form>
</div>