
@{
    ViewBag.Title = "SearchProductResult";
}

<h2>Результат поиска</h2>
<dl class="dl-horizontal">
    @if (ViewBag.Product != null)
    {   
        <dt>Название фильма</dt>
        <dd>@ViewBag.Product.P_Name</dd>
        <dt>Жанр</dt>
        <dd>@ViewBag.Product.Genre</dd>
        <dt>Режиссер</dt>
        <dd>@ViewBag.Product.Director</dd>
        <dt>Год выпуска</dt>
        <dd>@ViewBag.Product.Year</dd>
        <dt>В данный момент</dt>
        if (ViewBag.Product.Have == 1)
        {
            <dd>имеется в наличии</dd>
        }
        else
        {
            <dd>в наличии нету</dd>
        }
        <dd><a href="/Home/GetOrder?id=@ViewBag.Product.Product_Id">Заказать</a></dd>
    }
    else
    {
        <dd>Ничего не найдено</dd>
    }
</dl>


