
@{
    ViewBag.Title = "SearchClient";
}

<h2>Поиск Клиента</h2>

<div>
    <form method="post">
        <p>Введите имя клиента</p>
        <input type="text" name="Name" />
        <p>Поиск</p>
        <input type="submit" name="Search" />
    </form>
</div>

