
@{
    ViewBag.Title = "SearchClientResult";
}

<h2>Результат поиска</h2>
<dl class="dl-horizontal">
    @if (ViewBag.Client != null)
    {
        <dd>@ViewBag.Client.Name</dd>
        <dd>@ViewBag.Client.Email</dd>
        <dd>@ViewBag.Client.Phone_Number</dd>
        <dd>@ViewBag.Client.Level</dd>
        if (ViewBag.Client.VIP == 1)
        {
            <dd>VIP клиент</dd>
        }
        else
        {
            <dd>Простой клиент</dd>
        }
    }
    else
    {
        <dd>Ничего не найдено</dd>
    }
</dl>
