
@{
    ViewBag.Title = "SearchProduct";
}

<h2>Поиск фильма</h2>

<div>
    <form method="post">
        <p>Введите название фильма</p>
        <input type="text" name="Name"/>
        <p>Поиск</p>
        <input type="submit" name="Search"/>
    </form>
</div>